<div class="container">
    <h2>Dashboard</h2>

    @if (ticketsCountObs | async; as counts) {
    <div class="dash">
        <div class="dash-card" routerLink="/tickets" (click)="setFilter('')">
            All Tickets: 
            {{
                counts[StatusEnum.TODO] + 
                counts[StatusEnum.IN_PROGRESS] + 
                counts[StatusEnum.IN_REVIEW] + 
                counts[StatusEnum.DONE] 
            }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(StatusEnum.TODO)">
            {{ StatusEnum.TODO }}: {{ counts[StatusEnum.TODO] }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(StatusEnum.IN_PROGRESS)">
            {{ StatusEnum.IN_PROGRESS }}: {{ counts[StatusEnum.IN_PROGRESS] }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(StatusEnum.IN_REVIEW)">
            {{ StatusEnum.IN_REVIEW }}: {{ counts[StatusEnum.IN_REVIEW] }}
        </div>
        <div class="dash-card" routerLink="/tickets" (click)="setFilter(StatusEnum.DONE)">
            {{ StatusEnum.DONE }}: {{ counts[StatusEnum.DONE] }}
        </div>
    </div>
    }
</div>