<div class="all">
    <button class="back-btn" routerLink="/tickets">&lt; Back</button>

    <div class="ticket-card">
        @if (ticketSubject | async; as ticket) {
        <div class="info">
            <h2> {{ ticket.ticketKey }} </h2>
            <p>Created: {{ ticket.createdAt | date:'medium' }}</p>

            @if (!editState()) {
            <p>Title: {{ ticket.title | titlecase }}</p>
            @if (ticket.description) {
            <p>Description: {{ ticket.description }}</p>
            }
            <p>Status: {{ ticket.status }}</p>
            <p>Priority: {{ ticket.priority }}</p>

            } @else {
            <form [formGroup]="editForm">
                <p>Title: <input type="text" formControlName="title" placeholder="Empty..." /></p>
                <p>Description: <input type="text" formControlName="description" placeholder="Empty..." /></p>
                <p>Status:
                    <select formControlName="statusId">
                        <option [ngValue]=1>{{StatusEnum.TODO}}</option>
                        <option [ngValue]=2>{{StatusEnum.IN_PROGRESS}}</option>
                        <option [ngValue]=3>{{StatusEnum.IN_REVIEW}}</option>
                        <option [ngValue]=4>{{StatusEnum.DONE}}</option>
                    </select>
                </p>
                <p>Priority:
                    <select formControlName="priorityId">
                        <option [ngValue]=1>{{PriorityEnum.LOW}}</option>
                        <option [ngValue]=2>{{PriorityEnum.MEDIUM}}</option>
                        <option [ngValue]=3>{{PriorityEnum.HIGH}}</option>
                    </select>
                </p>
            </form>
            }

            <div class="audit-log">
                <h2>Audit Log:</h2>
                @if (loadingAudits()) {
                <p>Loading log...</p>
                } @else if (audits.length === 0) {
                <p>No audit log for this ticket.</p>
                } @else {
                @for (audit of audits; track audit.id) {
                <div class="audit-item">
                    <p>Id: {{ audit.id }}</p>
                    <p>Change Type: {{ audit.ticketModificationType | titlecase }}</p>
                    <p>Title: {{ audit.ticketTitle }}</p>
                    <p>Status: {{ audit.status }}</p>
                    <p>Priority: {{ audit.priority }}</p>
                    @if (audit.ticketDescription) {
                    <p>Description: {{ audit.ticketDescription }}</p>
                    }
                    <p>Changed At: {{ audit.ticketModifiedAt | date:'medium' }}</p>
                </div>
                }
                }
            </div>
        </div>

        <div class="action-buttons">
            @if (editState()) {
            <button class="cancel-btn" (click)="cancelEdit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
            }
            <button class="edit-btn" (click)="saveOrEdit()">
                @if (!editState()) {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
                } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                    <polyline points="17 21 17 13 7 13 7 21"></polyline>
                    <polyline points="7 3 7 8 15 8"></polyline>
                </svg>
                }
            </button>
            <button class="delete-btn" (click)="deleteTicket(ticket.ticketKey)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
            </button>
        </div>
        } @else {
        <p>There's no ticket with key <b>{{ key }}</b>.</p>
        }
    </div>
</div>